<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="mYLastRSS Test (offline) Suite">
            <directory suffix="Test.php">tests</directory>
            <exclude>tests/LegacyMylr2RssOnlineTest.php</exclude>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="var/outputs/phpunit/logfile.xml"/>
        <testdoxText outputFile="var/outputs/phpunit/testdox.txt"/>
        <!-- 
        PHPUnit 5.7 don't support junit and testdoxText nodes 
        https://phpunit.de/manual/5.7/en/
        <log type="junit" target="var/outputs/phpunit/logfile.xml"/>
        <log type="testdox-text" target="var/outputs/phpunit/testdox.txt"/>
        -->
    </logging>
</phpunit>
