<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <!-- Enable online tests with URLs -->
    <php>
        <ini name="allow_url_fopen" value="On"/>
        <ini name="max_execution_time" value="120"/>
        <ini name="default_socket_timeout" value="30"/>
    </php>

    <testsuites>
        <testsuite name="mYLastRSS Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="var/outputs/phpunit/logfile.xml"/>
        <testdoxText outputFile="var/outputs/phpunit/testdox.txt"/>
        <!-- 
        PHPUnit 5.7 don't support junit and testdoxText nodes 
        https://phpunit.de/manual/5.7/en/
        <log type="junit" target="var/outputs/phpunit/logfile.xml"/>
        <log type="testdox-text" target="var/outputs/phpunit/testdox.txt"/>
        -->
    </logging>
</phpunit>
